body{
    background-color: rgb(20, 62, 104);
}

section .rectangle{
width: 850px;
height: 80px;
outline: white;
background-color: rgb(2, 2, 2);
margin-left: 20rem;
margin-top: -25px;
}
section .header h6{
    margin-top: -1rem;
    color: rgb(233, 3, 3);
    text-decoration: none;
}
section .header h3{
    margin-top: -1rem;
}

.header a{
    text-decoration: none;
    color: white;
}

section .header .left{
    display: flex;
    padding-left: 4rem;
    margin-top: -2.7rem;
}
section .header .left a:hover, .right a:hover{
color: greenyellow;
}
section .header .right{
    display: flex;
    gap: 2rem;
    padding-left: 25rem;
    gap: 1rem;
    margin-top: -3.9rem;
}


section .profile{
    margin-top: 4rem;
    cursor: pointer;
}

.profile img{
    border-radius: 100%;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

section .header .btn{
    width: 5rem;
    height: 2rem; 
    background-color: darkcyan;
    outline: black;
    color: white;
    margin-top: -5px;
    border-radius: 50px;
}
section .header .btn :hover{
    color: black;
    background-color: yellow;
     padding: 4.7px 4.6px;
       border-radius: 50px;
}

section .intro{
    padding-left: 22rem;
    margin-top: 6rem;
    font-size: xx-large;
}

.intro h2 {
   text-decoration-color: antiquewhite;
   color: white;
   font-weight: lighter;
   font-size: 40px;

}

.intro h1 {
   font-weight: 1100px;
   margin-top: -35px; 
  font-size: 51px; 
  letter-spacing: -3px;
   
}

.intro h6 {
   margin-top: -40px; 
  font-size: 14px; 
  color: darkgray;
   
}

.pic1 img{
 padding-left: 50rem;
margin-top: -230px;
width: 350px;
}

section h2 span{
    color: white;
}


.hiring{
    padding-left: 25rem;
    margin-top: -3rem;
}

.hiring .btn{
 width: 10rem;
 height: 2.5rem;
 font-weight: bold;
 margin-top: -50px;
 cursor: pointer;
}
.hiring .btn:hover{
background-color: yellow;
color: black;
border-radius: 50%;
}

.mini-icon{
    display: flex;
    gap: 1rem;
    size: 4rem;
   padding-left: 45rem;
    margin-top: 3rem;
}

.mini-icon a{
    color: white;
    text-decoration: none;
    margin-bottom: 6rem;
}

.socialmedia{
margin-left: 30rem;
margin-top: 3rem;
gap: 2rem;
}

.myProjects h1{
    margin-left: 42rem;
    font-size: xx-large;
    color: red;

}

 .myProjects span{
    color: white;
}

.container{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
gap: 2rem; 
width: 2px;
margin-left: 22rem;
}

.box{
    justify-content: center;
    text-align: center;
    width: 24rem;
    height: 15rem;
    background-color: rgb(55, 73, 111);
}
.box img{
    margin-top: 1rem;
}
.container .box .btnn{
     color: aliceblue;
     background-color: blue;
     width: 7rem;
     height: 3rem;
}
.container .box .btnn:hover{
     color: rgb(0, 0, 0);
     background-color: rgb(255, 251, 44);
}
.container .box a{
  text-decoration: none;
}

.box:hover{
    color: rgb(190, 9, 9);
    background-color: rgb(191, 207, 13);
}

.about-me h1{
    text-align: left;
    margin-left: 20rem;
    color: white;
    font-size: x-large;
}
.about-me span{
    color: red;
}

.about-me p{
      color: azure;
      text-align: justify;
      margin-left: 20rem;
      text-justify: inter-word;
      font-family: elegant;
      margin-right: 20rem;
}

section .container2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
     padding-left: 27rem;
    padding-right: 21rem; 
    column-gap: 10px;

    
}

.my-skills h1{
 color: wheat;
 margin-left: 45rem;
 font-size: xx-large;
}

section .container2 .box-skills{
    color: white;
 justify-content: center;
    text-align: center;
    width: 10rem;
    height: 5rem;
    background-color: rgb(55, 73, 111);
    justify-content: center;
    margin: 1rem;
}
 .my-skills span{
 color: yellow;
}

.menu{
   margin-left: 41rem;
    color: aqua;
}
.menu h1 span{
color: darkgrey;
}
 .container3 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;        
      width: 18rem;
      height: 3rem;
      margin-left: -1rem;
      gap: 2rem;
    }

      .btn3{
      background-color:rgb(138, 138, 138);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: 500;
      cursor: not-allowed;
    }

    .btn3:hover{
        background-color: yellow;
        color: black;
        font-weight: 600;
    }

    .contact h1{
        font-size: xx-large;
     margin-left: 45rem;
    }
    .contact span{
        color: orange;
        font-size: xx-large;
        
    }

    input{
        height: 2rem;
        width: 20rem;
    }
    .input-wrapper{
        display: flex;
        margin-left: 28rem;
        gap: 2rem;
    }

    .input-wrapper2{
        display: flex;
        margin-left: 28rem;
        margin-top: 2rem;
        gap: 2rem;
    }
    .btn-wrapper .btn4{
       width: 10rem;
        height: 2.5rem;
        margin-left: 45rem;
        margin-top: 2rem;
        background-color: blue;
        color: beige;
        font-weight: 600;
    }

     .btn-wrapper .btn4:hover{
     background-color: green;
     color: white;
     font-size: larger;
    }

    .footer-content{
        margin-top: 2rem;
        margin-left: 5rem;
        color: aliceblue;
       text-align: center;
    } 






    @media(max-width: 1024px){
        body{
            background-color: rgb(60, 88, 88);
        }
    section .rectangle{
        margin-left: 6rem;
    }
    .intro{
        margin-left: -15rem;
    }

    .pic1 img{
        margin-left: -13rem;
        
    }
    .hiring{
        margin-left: -11rem;
    }
    .socialmedia{
    margin-left: 15rem;
    }
    .custom-line{
        margin-left: 2rem;
    }
    .about-me h1{
        margin-left: 10rem;
    }
    .about-me p{
        margin-left: 10rem;
        margin-right: 7rem;
    }
    .myProjects h1{
     margin-left: 27rem;
    }
    .container{
        margin-left: 7rem;
    }
    .my-skills h1{
        margin-left: 29rem;
    }
    .container2{
        margin-left: -13rem;
    }
    .menu h1{
        margin-left: -17rem;
    }
    .container3{
     margin-left: -17rem;
    }
    .contact h1{
        margin-left: 27rem;
    }
    .input-wrapper,.input-wrapper2{
        margin-left: 10rem;
    }
    .btn-wrapper{
        margin-left: -18rem;
    }
    .mini-icon{
        margin-left: -18rem;
    }
}



@media(max-width: 768px){

    body{
            background-color: rgb(100, 53, 97);
        }
    section .rectangle{
        margin-left: 0.2rem;
    }
    .intro{
        margin-left: -20rem;
    }

    .pic1 img{
        margin-left: -19rem;
        
    }
    .hiring{
        margin-left: -18rem;
    }
    .socialmedia{
     margin-left: 12rem;
    }
    .custom-line{
        width: 820px; 
        margin-left: 1rem;
        padding: 0;
       
    }
    .about-me h1{
        margin-left: 3rem;
    }
    .about-me p{
        margin-left: 4rem;
        margin-right: -5rem;
       
    }
    .myProjects h1{
       margin-left: 22rem;
    }
    .container{
        margin-left: 1.2rem;
    }
    .my-skills h1{
        margin-left: 22rem;
    }
    .container2{
        margin-left: -20rem;
    }
    .menu h1{
        margin-left: -23rem;
    }
    .container3{
      margin-left: -23rem;
    }
    .contact h1{
        margin-left: 22rem;
    }
    .input-wrapper,.input-wrapper2{
        margin-left: 7rem;
    }
    .btn-wrapper{
        margin-left: -23rem;
    }
    .mini-icon{
        margin-left: -23rem;
    }

}




                                                                            /* for 375 */

@media(max-width: 425px){

    body{
            background-color: rgb(123, 143, 52);
        }
    section .rectangle{
        margin-left: 0.2rem;
    }
    .intro{
        margin-left: -20rem;
    }

    .pic1 img{
        margin-left: -19rem;
        
    }
    .hiring{
        margin-left: 4rem;
        padding-left: 0;
    }
    .socialmedia{
     margin-left: 6rem;
     margin-right: -2rem;
    }
    .custom-line{
        width: 820px; 
        margin-left: 1rem;
        padding: 0;
       
    }
    .about-me h1{
        margin-left: 3rem;
    }
    .about-me p{
        margin-left: 4rem;
        margin-right: -25rem;
       
    }
    .myProjects h1{
        display: flex;
        flex-direction: row;
       margin-left: 20rem;
       padding: 0;
    }
    .container{
        margin-left: 1.2rem;
    }
    .my-skills h1{
        display: flex;
        flex-direction: row;
        margin-left: 22rem;
    }
    .container2{
        margin-left: -20rem;
    }
    .menu h1{
        margin-left: -23rem;
    }
    .container3{
      margin-left: -23rem;
    }
    .contact h1{
        display: flex;
        flex-direction: row;
        margin-left: 22rem;
    }
    .input-wrapper,.input-wrapper2{
        margin-left: 15rem;
    }
    .btn-wrapper{
        margin-left: -23rem;
    }
    .mini-icon{
        margin-left: -23rem;
    }
    .footer-content p{
        margin-left: 12rem;
        margin-right: -12rem;
    }

}





@media(max-width: 425px){

    body{
            background-color: rgb(186, 120, 131);
        }
    section .rectangle{
        margin-left: 0.2rem;
    }
    .intro{
        margin-left: -20rem;
    }

    .pic1 img{
        margin-left: -19rem;
        
    }
    .hiring{
        margin-left: 4rem;
        padding-left: 0;
    }
    .socialmedia{
     margin-left: 12rem;
    }
    .custom-line{
        width: 820px; 
        margin-left: 1rem;
        padding: 0;
       
    }
    .about-me h1{
        margin-left: 3rem;
    }
    .about-me p{
        margin-left: 4rem;
        margin-right: -25rem;
       
    }
    .myProjects h1{
        display: flex;
        flex-direction: row;
       margin-left: 20rem;
       padding: 0;
    }
    .container{
        margin-left: 1.2rem;
    }
    .my-skills h1{
        display: flex;
        flex-direction: row;
        margin-left: 22rem;
    }
    .container2{
        margin-left: -20rem;
    }
    .menu h1{
        margin-left: -23rem;
    }
    .container3{
      margin-left: -23rem;
    }
    .contact h1{
        display: flex;
        flex-direction: row;
        margin-left: 22rem;
    }
    .input-wrapper,.input-wrapper2{
        margin-left: 15rem;
    }
    .btn-wrapper{
        margin-left: -23rem;
    }
    .mini-icon{
        margin-left: -23rem;
    }
    .footer-content p{
        margin-left: 12rem;
        margin-right: -12rem;
    }

}
